<nz-page-header class="site-page-header" nzBackIcon nzTitle="生成配置管理" nzSubtitle="This is a subtitle">
</nz-page-header>
<div class="table-operations">
  <button nz-button nzType="primary" (click)="showModal()">新增</button>
</div>
<nz-table  nzBordered>
  <thead>
  <tr>
    <th>表名</th>
    <th>表说明</th>
    <th>功能作者</th>
    <th>创建时间</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>

  </tbody>
</nz-table>
<nz-modal [(nzVisible)]="isVisible" nzTitle="新增配置" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <div nz-row>
      <div nz-col nzSpan="4"><label>数据源:</label></div>
      <div nz-col nzSpan="20">
        <nz-radio-group  [(ngModel)]="radioValue" nzButtonStyle="solid">
          <label nz-radio-button nzValue="A">default</label>
          <label nz-radio-button nzValue="B">orcl</label>
          <label nz-radio-button nzValue="C">mysql</label>
          <label nz-radio-button nzValue="D">sqlserver</label>
        </nz-radio-group>
      </div>
    </div>

    <div nz-row>
      <div nz-col nzSpan="4"><label>选择表:</label></div>
      <div nz-col nzSpan="20">
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="选择表" [(ngModel)]="selectedValue">
          <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
          <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
          <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
        </nz-select>
      </div>

    </div>


  </ng-container>
</nz-modal>
