<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Ant Design Of Angular</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Welcome</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="组织管理" nzIcon="deployment-unit">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>用户管理</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>机构管理</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>公司管理</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>岗位管理</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="权限管理" nzIcon="audit">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>角色管理</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>二级管理员</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>系统管理员</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>安全审计</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="系统设置" nzIcon="setting">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/sys/menu">菜单管理</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/sys/module">模块管理</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/sys/config">参数设置</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/sys/dictType">字典管理</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/sys/area">行政区划</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>国际化管理</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="系统监控" nzIcon="desktop">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>访问日志</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>数据监控</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>缓存监控</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>服务器监控</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>作业监控</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>在线用户</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>在线文档</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="消息推送" nzIcon="message">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>未完成消息</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>已完成消息</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>消息模板管理</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="站内消息" nzIcon="message">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>站内消息</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="文件管理" nzIcon="snippets">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>文件管理</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>文件分享</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="内容管理" nzIcon="global">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>内容发布</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>栏目管理</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>站点设置</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>模板管理</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="统计报表" nzIcon="fund-view">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>报表设计器</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="流程办理" nzIcon="pull-request">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>代办任务</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>已办任务</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>与我相关流程</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="流程管控" nzIcon="share-alt">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>流程分类管理</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>流程模型设计</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>流程定义管理</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>流程实例管理</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>流程任务管理</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>流程脚本管理</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="研发工具" nzIcon="share-alt">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/dev/code">代码生成工具</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>

    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
