<nz-page-header class="site-page-header" nzBackIcon nzTitle="菜单管理" nzSubtitle="This is a subtitle">
</nz-page-header>
<div class="table-operations">
  <button nz-button nzType="primary" (click)="showModal()">新增</button>
</div>
<nz-table [nzData]="listOfMapData" nzBordered>
  <thead>
  <tr>
    <th>菜单名称</th>
    <th>归属模块</th>
    <th>链接</th>
    <th>排序</th>
    <th>类型</th>
    <th>可见</th>
    <th>权限标识</th>
    <th>菜单权重</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let data of listOfMapData">
    <ng-container *ngFor="let item of mapOfExpandedData[data.key]">
      <tr *ngIf="(item.parent && item.parent.expand) || !item.parent">
        <td
          [nzIndentSize]="item.level! * 20"
          [nzShowExpand]="!!item.children"
          [(nzExpand)]="item.expand"
          (nzExpandChange)="collapse(mapOfExpandedData[data.key], item, $event)"
        >
          {{ item.name }}
        </td>
        <td>{{ item.module }}</td>
        <td>{{ item.href }}</td>
        <td>{{ item.sort }}</td>
        <td>{{ item.type }}</td>
        <td>{{ item.visible }}</td>
        <td>{{ item.authority }}</td>
        <td>{{ item.weights }}</td>
        <td>
          <nz-space>
            <nz-space-item>
              <button nz-button nzType="primary">编辑</button>
            </nz-space-item>
            <nz-space-item>
              <button nz-button nzType="danger">删除</button>
            </nz-space-item>
            <nz-space-item>
              <button nz-button nzType="primary">新增下级</button>
            </nz-space-item>
          </nz-space>
        </td>
      </tr>
    </ng-container>
  </ng-container>
  </tbody>
</nz-table>

<nz-modal [(nzVisible)]="isVisible" nzTitle="新增菜单" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>

  </ng-container>
</nz-modal>
